.helper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.helper__title {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  margin: 150px auto 50px;
}

.helper__in-helper-router {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin: 0 auto;
}

.helper__in-helper-router:hover {
  color: #a09f9f;
}

.helper__get-value-router {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin: 30px auto 0;
}

.helper__get-value-router:hover {
  color: #a09f9f;
}

.helper__in-helper-text {
  color: #fff;
  margin: 20px auto 0;
}

.helper__mnemonic-left {
  background: linear-gradient(90deg, #d0ff00, #0059ff, #ff0062);
  background-size: 300% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: wave-left 2s infinite;
}

@keyframes wave-left {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.helper__mnemonic-right {
  background: linear-gradient(90deg, #ff0062, #0059ff, #d0ff00);
  background-size: 300% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: wave-right 2s infinite;
}

@keyframes wave-right {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}