.header__list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.header__list-item-link {
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
}

.header__list-item-link:hover {
  color: #beaeae;
  text-decoration: none;
}

.header__list-item-image {
  margin-top: -28px;
}

@media screen and (max-width:700px) {
  .header__list-item-link {
    font-size: 13px;
  }
}